/* Global Styles */
body {
    padding: 0;
    box-sizing: border-box;
    margin: 0px 40vh 20vh 40vh;
    max-width: 1200px;
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 1rem;
    text-align: center;
  }
  
  .navbar a {
    color: #ccc;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: cyan;
  }
  
  /* Sections */
  .section {
    text-align: left;
  }
  
.about-section{
  max-width: 400px;
  font-size: 15px;
}

  h1 {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size:50px;
  }
  
  h2 {
    color: rgb(113, 112, 111);

  }

  
  p {
    color: rgb(86, 86, 86);
    font-weight: 500;

  }
  
  a{
    text-decoration: none;
    color: blueviolet;
  }




.about-section a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.about-section a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.highlight {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

  .projectSection{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .projectSection li{
    padding:20px 0;
    text-align: left;
    margin-top:10px ;
    background: #e6e6e6;
    border-radius: 5px;
  }

.projectHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}